@model PersonModel
@{
    ViewBag.Contact = "active";
}

@{
    ViewData["Title"] = "Contact";

}

<body>
    <header>
        <h1>Contact formulier</h1>
        @if(ViewData["formsucces"] == "ök")
        {
            <p> Het verzenden is gelukt! Bedankt voor het invullen!</p>
        }
        @if (Model != null)
        {
            <p>
                Uw naam is: @ViewData["Voornaam"] @ViewData["Achternaam"] <br />
            </p>
        }

        <form method="post">
            <input type="text" name="Voornaam" placeholder="voornaam" /> <br />
            @Html.ValidationMessageFor(m => m.Achternaam) <br />
            <input type="text" name="Achternaam" placeholder="Achternaam" /> <br />
            @Html.ValidationMessageFor(m => m.EMail) <br />
            <input type="text" name="EMail" placeholder="E-Mail" /> <br />
            <br />
            <input type="datetime" name="Geboortedatum" placeholder="GeboorteDatum DD-MM-YYYY" /> <br />
            <br />
            <input type="submit" value="Verstuur" /> <br />
        </form>
    </header>
</body>