@using SchoolTemplate.Database
@model List<Festival>
@{
    ViewBag.Festival = "active";
}

<body>
    <header>
        
        
            <h1> HALLOO </h1>
        <p> Alle festival gegevens</p>
        
    </header>

</body>