@model SchoolTemplate.Database.Festival

@{
    ViewBag.Festival = "active";
}

<body>
    <header>
        @{
            ViewData["Title"] = "Festival";
        }
        <h1> @ViewData["id"]</h1>
        <p> Model.Beschrijving</p>

    </header>

</body>