<!DOCTYPE html>
<html>
<head>
    <title>Aggaveld</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>


<body>

    <header>
        <h1>SummerFest</h1>
        <div><img src="https://solarweekend.com/wp-content/uploads/2019/05/SOL19-nogtweeweken-insta-fb2.png" alt="Summerfest" width="655" height="435" </div>
    </header>

   

    
</body>
</html>

