@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Index.cshtml*">Home</a>
        <a href="">Information</a>
        <a href="">About us</a>
        <a href="">Contact</a>
    </div>
  <h1 class="display-4">Dit is een hele mooie site die nog wat aanpassingen nodig heeft</h1>
  <ul>
    @foreach (Product p in Model)
    {
      <li>
        @p.Naam @p.Prijs euro
      </li>
    }
  </ul>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> 

.