<!DOCTYPE html>
<html>
<head>
    <title>Aggaveld</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://c7.uihere.com/files/679/485/88/computer-icons-concert-ticket-concert.jpg">
</head>



<body>
    <div class="title">
        <h1>Aggaveld</h1>
    </div>
    <div class="topnav">
        <h2>
            <a class="active" href="index.html">Home</a>
            <a class="inactive" href="info.html">Info</a>
            <a class="inactive" href="programma.html">Programma</a>
            <a class="inactive" href="contact.html">Contact</a>
        </h2>
    </div>
    <header>
        <h1>SummerFest</h1>
    </header>


    <div class="dropdown">
        <div class="bar">
            <img src="https://cdn0.iconfinder.com/data/icons/rounded-basics/24/rounded__menu-512.png" alt="hamburger" width="50" height="50">
        </div>
        <div class="dropdown-content">
            <a href="Winterfest">Winterfest</a>
            <a href="Springbreak">Springbreak</a>
            <a href="Summerfest">Summerfest</a>
        </div>
    </div>

    <div class="footer">
        <div class="instagram">
            <img src="https://www.freepnglogos.com/uploads/instagram-logo-png-transparent-0.png" alt="Instagrampng" width="70" height="70">
            <h3>Aggaveld</h3>
        </div>
        <div class="facebook">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/480px-Facebook_logo_%28square%29.png" alt="facebookpng" width="50" height="50">
            <h3>Aggaveld</h3>
        </div>
    </div>
</body>
</html>

