html {
    background-image: linear-gradient( #D264E9, #6EC6CE );
    background-repeat: no-repeat;
    Min-height: 100%;
}
body {
    font-family: Palatino Linotype;
    ( background-image: url("bg.jpg");
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 10%;
    width: 80%;
    min-width: 980px;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;)
}
.title {
    font-size: 50px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    margin-left: -2%;
    margin-right: -2%;
    background-color: black;
    color: white;
    padding: 0.4%;
    font-family: 'Fredoka One';
}
    .title h1 {
        color: #fff;
        display: inline-block;
        position: center;
        flex-direction: row;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        align-content: center;


    }

.topnav {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    margin-left: -2%;
    margin-right: -2%;
    background-color: #ffdab3;
    color: white;
    padding: 0.4%;
    font-family: 'Fredoka One';
}
topnav a {
    color: #1E90FF;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 15px;
}


.topnav a.active {
    background-color: #1b2a46;
    color: white;
}


header {
    background-size: auto;
    height: 70vh;
    margin: 5%;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    background-image: url("bg.jpg");
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 10%;
    width: 80%;
    min-width: 980px;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
}

.poster {
    position: relative;
    display: inline-block;
    left: calc(50% - 750px);
    z-index: -1;
}
.footer .instagram h3 {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    bottom: 10px;
    left: calc(50% - 81.15px);
}

.footer .facebook h3 {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    bottom: 30px;
    left: calc(50% - 81.15px);
}

.footer .instagram img {
    position: relative;
    left: calc(50% - 81.15px);
    top: 20px;
}

.footer .facebook img {
    margin: 10px;
    position: relative;
    display: inline-block;
    left: calc(50% - 81.15px);
}

.bar {
    transition: all 500ms ease;
}

.dropdown .bar:hover {
    transform: rotate(30deg);
}

.dropdown {
    position: absolute;
    left: calc(50% - 749px);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: #f1f1f1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
