<!DOCTYPE html>
<html>
    <head>
        <title>Aggaveld</title>
        <link href="/css/site.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="https://image.flaticon.com/icons/png/128/1466/1466134.png">
    </head>
    <body>
        <div class="title">
            <h1>Aggaveld</h1>
        </div>
        <div class="topnav">
            <img target="topnav" src="https://image.flaticon.com/icons/png/128/1466/1466134.png" alt="aggaveld" style="width:10%;height:10%;">
            <div><a class="inactive" href="/">HOME</a></div>
            <div><img src="https://image.flaticon.com/icons/png/128/1466/1466134.png"></div>
            <div><a class="inactive" href="/info">INFO</a></div>
            <div><img src="https://image.flaticon.com/icons/png/128/1466/1466134.png"></div>
            <div><a class="inactive" href="/programma">PROGAMMA</a></div>
            <div><img src="https://image.flaticon.com/icons/png/128/1466/1466134.png"></div>
            <div><a class="@ViewBag.Active" href="/contact">CONTACT</a></div>
            <div><img src="https://image.flaticon.com/icons/png/128/1466/1466134.png"></div>
        </div>

        @RenderBody()
        
    </body>

</html>

