<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <nav>
            <a href="/Views/Home/ShowAll.cshtml">NAVIGATION</a>
        </nav>
        @RenderBody()
    </body>
</html>
